asgiref==3.12.1
click==8.4.2
cssbeautifier==2.0.3
Django==6.1
django-stubs==6.0.8
django-stubs-ext==6.0.8
djlint==1.44.0
EditorConfig==0.17.1
jsbeautifier==2.0.3
json5==0.15.0
mercadopago==3.5.0
nodeenv==1.10.0
pathspec==1.1.1
pillow==12.3.0
pyright==1.1.411
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.7.19
sqlparse==0.5.5
types-PyYAML==6.0.12.20260724
typing_extensions==4.16.0
